#grad{
    height:35px;
    width: 1500px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right,red,green,yellow);
   text-align: center; 
  text-decoration: underline;
}

.box{
    height: 100px;
    width: 898px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: lightskyblue;
    margin-top: 20px;
    margin-left: 295px;
    margin-right: 295px;
    margin-bottom: 20px;
    text-align: center;

}

 .flex-container{
    display: flex;
    height: 117px;
    width: 1493px;
    border: 2px solid brown;
    border-radius: 20px;
     padding: 5px;
    
    background-color: aquamarine;
    justify-content:space-around ;
    /* margin-right: 200px; */
    row-gap: 100px;
    flex-wrap: wrap;
} 
.item1{
    height: 70px;
    width: 300px;
    background-color: cadetblue;
    border: 3px solid green;
    border-radius: 10px;
    text-align: center;
}


.item2{
    height: 70px;
    width: 300px;
    background-color: cadetblue;
    border: 3px solid green;
    border-radius: 10px;
    text-align: center;
}



.item3{
    height: 70px;
    width: 300px;
    background-color: cadetblue;
    border: 3px solid  green;
    border-radius: 10px;
    text-align: center;
}


.item4{
    height: 70px;
    width: 300px;
    background-color: cadetblue;
    border: 3px solid green;
    border-radius: 10px;
    text-align: center;
}


#grad2{
    height: 35px;
    width: 1502px;
    background-color: white;
   /* For browsers that do not support gradients */
  background-image: repeating-linear-gradient(to right,red -1%,yellow );
  text-align: center;

}





#grad3{display: flex;
    justify-content: space-between;
    height: 185px;
    width: 1495px;
    background-color: white;
    border: 5px solid brown;
    margin-top: 20px;
    
   /* For browsers that do not support gradients */
background-image: radial-gradient(green 40%,blue 60%);

}

.box1{
    height: 113px;
    width: 277px;
    padding: 5px;
    background-color: yellow;
    border: 2px solid brown;
    border-radius: 17px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.box2{
    height: 113px;
    width: 277px;
    padding: 5px;
    background-color: yellow;
    border: 2px solid brown;
    border-radius: 17px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;

}



.box3{
    height: 113px;
    width: 277px;
    padding: 5px;
    background-color: yellow;
    border: 2px solid brown;
    border-radius: 17px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}


.box4{
    height: 113px;
    width: 277px;
    padding: 5px;
    background-color: yellow;
    border: 2px solid brown;
    border-radius: 17px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    text-decoration: underline;

}




 .container{
    display: grid;
    height: 300px;
    width: 1500px;
      grid-template-columns: repeat(3,460px) 100px; 
    grid-gap: 10px;
    text-align: center;
    margin-top: 20px;
} 

.child1{
   
    background-color: red;
    grid-column: 1/-1;
}


.child2{
   
    background-color: lightgreen;
    grid-row: 2/4;
    grid-column: 4/5;
    text-decoration: underline;
}



.child3{
   
    background-color: skyblue;
    
}


.child4{
  
    background-color: blue;
    
} 

.child5{
   
    background-color: silver;
    /* grid-row: 2/4;
    grid-column: 4/-1; */
}



.child6{
   
    background-color: orange;
   grid-column: 1/4;
}


.child7{
  
    background-color: aquamarine;
    grid-column: 1/-1;
} 





/* .container{
    4 child
    display: flex;
    row-direction
    radialGradient:green and blue
} */



/* .grid{
    pura and tak
    4 colums 100px k
    display: grid ;
    grid 4 colum 100px ke
} */


/* .container{
    background-color: aqua;
height:300px ;
width: 1000px;
display: grid; */
/* grid-template-columns: 200px 200px 200px;
grid-template-rows: 150px 150px 150px; */
               /* (OR) */
 /* grid-template-rows: repeat(3, ifr);
grid-template-columns: repeat(3,1fr);  */
                  /* (or) */

/* grid-template-rows: 1fr,1fr,1fr;
grid-template-columns: 1fr,1fr,1fr; */
/* row-gap: 30px;
column-gap: 30px; */
/* .item{
    background-color: chartreuse; */
/* height: 100px;
width: 100px; */



    /* grid-column-start:1 ; */
    /* grid-column-end: 2; */










